<?xml version="1.0" encoding="UTF-8"?>
<root>
  <errors>false</errors>
  <loss>0</loss>
  <delay>0</delay>
  <ghost>0</ghost>
  <payload>0</payload>
  <header>0</header>
  <onlydata>true</onlydata>
  <serverAddress>localhost</serverAddress>
  <serverport>10500</serverport>
  <simpleConnection>false</simpleConnection>
</root>

